<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=egde">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero detail</title>
</head>
<body>
    <h1>Hero Details</h1>
    <ul>
        <h2>{{single_hero}}</h2>
        <h3><li>Alter Ego: {{single_hero.alter_ego}}</li></h3>
        <h3><li>Primary Ability: {{single_hero.primary_ability}}</li></h3>
        <h3><li>Secondary Ability: {{single_hero.secondary_ability}}</li></h3>
        <h3><li>Catch Phrase: {{single_hero.catch_phrase}}</li></h3>
    </ul>
</body>
</html>