<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit A Hero</title>
</head>
<body>
    <form action="{% url 'superheroes:edit' single_hero.id%}" method="POST">
        {% csrf_token %}
        Name: <input type="text" name="name" id="name" value="{{single_hero.name}}"><br />
        Alter Ego: <input type="text" name="alter_ego" id="alter_ego" value="{{single_hero.alter_ego}}"><br />
        Primary Ability:<input type="text" name="primary" id="primary" value="{{single_hero.primary_ability}}"><br />
        Secondary Ability: <input type="text" name="secondary" id="secondary" value="{{single_hero.secondary_ability}}"><br />
        Catch Phrase: <input type="text" name="catchphrase" id="catch_phrase" value="{{single_hero.catch_phrase}}"><br />
        <input type = "submit" value= "Save Changes!">
    </form>
</body>
</html>